<nav class="sidebar" [class.collapsed]="!expanded()">

  <div class="sidebar-header">
    @if (expanded()) {
    <div class="brand" animate.enter="fade-in">Nostos</div>
    } @else {
    <div class="brand-icon">
      <lucide-icon [img]="LibraryIcon" [size]="24" strokeWidth="1.5"></lucide-icon>
    </div>
    }
  </div>

  <div class="nav-scroll-area">

    <div class="nav-group">
      @if (expanded()) {
      <div class="section-label" animate.enter="fade-in">Collections</div>
      }

      @for (col of collections(); track col.id) {
      <button class="nav-item" [class.active]="activeCollection() === col.id" (click)="select(col)"
        title="{{col.name}}">
        <lucide-icon [img]="FolderIcon" [size]="18" strokeWidth="2"></lucide-icon>

        @if (expanded()) {
        <span class="label">{{ col.name }}</span>
        }
      </button>
      }
    </div>

    <div class="nav-group mt-auto">
      @if (adding()) {
      <div class="nav-item input-mode">
        <lucide-icon [img]="FolderIcon" [size]="18" strokeWidth="2"></lucide-icon>
        @if (expanded()) {
        <input type="text" class="sidebar-input" [(ngModel)]="newName" (keydown.enter)="create()"
          (keydown.escape)="adding.set(false)" placeholder="Name..." autoFocus />
        }
      </div>
      } @else {
      <button class="nav-item action-add" (click)="startAdd()" title="Create Collection">
        <lucide-icon [img]="PlusIcon" [size]="18" strokeWidth="2"></lucide-icon>
        @if (expanded()) {
        <span class="label">New Collection</span>
        }
      </button>
      }
    </div>

  </div>

  <div class="sidebar-footer">
    <button class="toggle-btn" (click)="toggle()">
      @if (expanded()) {
      <lucide-icon [img]="PanelLeftCloseIcon" [size]="18" strokeWidth="1.5"></lucide-icon>
      } @else {
      <lucide-icon [img]="PanelLeftOpenIcon" [size]="18" strokeWidth="1.5"></lucide-icon>
      }
    </button>
  </div>
</nav>
