.pdf-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5; /* Matches PDF.js default grey */
}

/* Force the viewer to take full available space */
:host ::ng-deep ng2-pdfjs-viewer {
  display: block;
  height: 100%;
  width: 100%;
}

:host ::ng-deep iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
