:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent double scrollbars */
}

.pdf-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Since ngx-extended-pdf-viewer is part of your DOM (not an iframe),
   you can style the scrollbars globally or here with ::ng-deep
*/
::ng-deep .pdfViewer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::ng-deep .pdfViewer::-webkit-scrollbar-track {
  background: transparent;
}

::ng-deep .pdfViewer::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

::ng-deep .pdfViewer::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
