<div class="concept-input-wrapper" style="position: relative;">
  <textarea
    #textarea
    class="note-input"
    [class.disabled]="isDisabled"
    [rows]="rows"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="isDisabled"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    noteAutocomplete
    (insertConcept)="insertConcept($event)"
    (keydown.control.enter)="submitTrigger.emit()"
  ></textarea>

  <concept-autocomplete-panel (conceptSelected)="insertConcept($event)">
  </concept-autocomplete-panel>
</div>
